i.arrow-right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    /* right */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

a {
	color: #000000;
}

a:hover {
	background: #D7C1A5;
}